---
layout: main
---
{% for post in paginator.posts %}

<article class="post">
  {% if post.thumbnail %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.thumbnail}})" href="{{post.webpage}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.webpage}}">{{post.title}}</a></h2>
    <p>{{ post.summary | strip_html | truncatewords: 21 }}</p>
    <span>
        {% if post.pdf %}
	<p style="display:inline;"><b>[<a href="{{post.pdf}}">PDF</a>]</p></b>
        {% endif %}

        {% if post.webpage %}
	<p style="display:inline;"><b>[<a href="{{post.webpage}}">Webpage</a>]</p></b>
        {% endif %}

        {% if post.code %}
	<p style="display:inline;"><b>[<a href="{{post.code}}">Code</a>]</p></b>
        {% endif %}
    </span>
  </div>
</article>

{% endfor %}


{% include pagination.html %}
